

.objetivos-container {
	display: flex;
	flex-direction: column;
	background-color: #6E80B0 !important;
}
.objetivos-container .title-container {
	width: 100%;
	padding: 10px;
}
.objetivos-container .title-container .title {
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.3em;
	font-weight: 300;
}
.objetivos-container .objetivos-list {
	overflow-y: auto;
}
.objetivos-container .objetivos-list .loading {
	display: flex;
}
.objetivos-container .objetivos-list .loading .loading-text {
	margin: auto;
	color: white;
	padding-bottom: 20px;
	text-align: center;
}
.objetivos-container .objetivos-list .objetivo-item {
	width: 100%;
	padding: 4px 10px 4px 20px;
}
.objetivos-container .objetivos-list .objetivo-item .title-bar {
	display: flex;
	flex-direction: row;
	color: white;
	font-weight: 300;
	font-size: 1.1em;
}
.objetivos-container .objetivos-list .objetivo-item .title-bar .title {
	width: 100%;
}
.objetivos-container .objetivos-list .objetivo-item .title-bar .objetivo { }
.objetivos-container .objetivos-list .objetivo-item .bar {
	height: 26px;
	width: 100%;
	position: relative;
	background-color: white;
}
.objetivos-container .objetivos-list .objetivo-item .bar-fill {
	height: 100%;
	position: absolute;
	float: left;
	border: 1px solid;
}
.objetivos-container .objetivos-list .objetivo-item .current {
	height: 100%;
	position: absolute;
	float: left;
	font-weight: 400;
	line-height: 160%;
}
.objetivos-container .objetivos-list .objetivo-item .current.in {
	left: 10px !important;
	color: white;
}
.objetivos-container .objetivos-list .objetivo-item .current.out {
	color: #6E80B0;
}

.crear-objetivo{
	width: 500px;
	background-color: #f4f4f4;
	border-radius: 10px;
	padding: 20px 20px;
	margin: 0 16px;
	position: relative;
}

.crear-objetivo .titulo{
	width: 100%;
    padding: 10px;
    padding-bottom: 5px;
    text-align: center;
    color: #6E80B0;
    font-size: 1.5em;
}

@media(max-width:565px){
	.crear-objetivo{
		width: 350px;
	}
}

.crear-objetivo input{
	border: none;
	text-decoration: none;
	border-radius: 25px;
	width: 100%;
	padding: 10px;
	box-shadow: 0 0 5px -3px black;
}

.crear-objetivo .seleccion{
	font-size: 15px;
	color: #6E80B0;
}

.crear-objetivo .icons-list {
	overflow-x: auto;
}
.crear-objetivo .icons-list .icon {
	display: inline-block;
	margin: 2px;
	width: 25px;
	height: 25px;
}
.crear-objetivo .colors-list {
	overflow-x: auto;
}
.crear-objetivo .colors-list .color {
	display: inline-block;
	margin: 2px;
	border-radius: 100px;
	padding: 4px;
	width: 28px;
	height: 28px;
}